<div class="page">
	<main class="content">
		<h1 class="title">Bienvenido</h1>

		<section class="hero">
			<img src="/medicos.avif" alt="Personal medico" class="hero-image" />
			<div class="hero-text">
				<p>
					Nos comprometemos con tu bienestar, ofreciendo atención médica de calidad, un equipo de profesionales
					dedicados y un ambiente cálido y seguro. Explora nuestros servicios y agenda tu cita con facilidad. ¡Tu salud
					es nuestra prioridad!
				</p>
			</div>
		</section>
	</main>
</div>
